.container_index {
    margin: auto;
    height: 75vh;
    overflow: auto;
    margin-bottom: 2rem;
    border: 2px solid black;
    table {
        th {
            border: 2px solid black;
            padding: 1rem 0;
            &:first-child,
            &:last-child {
                width: 10%;
            }
        }
        td {
            border: 1px solid grey;
            text-align: center;
            button {
                margin-top: 1rem;
            }
        }
        img {
        width: 200px;
        }
    }
}